*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
  
    color: rgb(187, 72, 52);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1rem;
}

.Reveiws{
    padding: 2rem;
    margin-top: 12px;
    border-radius: 10px;
    background-color: brown;
    
   

}
body{
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}
#paragraph{
    
}
#container{
  
   display: flex;
   flex-direction: column;
   color: wheat;
  
   

}
h3{
    color: rgb(196, 225, 32);
}
#s1{
    
    background-color: azure;
    padding: 1rem;
}#comment{
  width: 100%;
  max-width: 1500px;
  outline: none;
}
input{
    height: 2rem;
    outline: none;
}
form{
    display: flex;
    flex-direction: column;
  

}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}
#btn{
    margin-top: 2rem;
  
    background-color: rgb(44, 86, 164);
    border: none;
    color: white;
}
#btn:hover{
    background-color: cornflowerblue;
}
